@media screen and (max-width: 560px) {
h1 {
    margin-right: 1.5em;
    margin-left: 1.5em;
}

header > h2 {
    visibility: hidden;
}

main > figure > img {
    margin-left: 10em;
}

#main-content {
    margin-right: 2em;
}

cite {
    margin-left: 10em;
    margin-bottom: 2em;
    width:100%;
}

aside {
    margin-top: 48em;
}
}